
	div#delivery_carrier {
			display:none;
		}
	
	div#payment_method {
			display:none;
		}

	.modal-dialog{
			/*height: 350px;*/
	    	overflow-y: initial !important
		}
		
			
	.modal-body{
		    height: 250px;
		    /*overflow-y: auto;*/
		}


	
	.embed-responsive-item{
			height: 200px !important;
		}